<br>
<div class="home-page">
    <div class="container page">
        <div class="row" style="background-color: floralwhite">

            <div class="col-md-3">
                <div class="banner">
                    <h3 class="text-center"> Introduction </h3>
                </div>
                <div class="sidebar">
                    <div class="text-center">
                        <img class="img-fluid img-radius" style="float:center" height="150px" width="150px" [src]="fullImagePath1">
                    </div>
                    <div class="text-center">
                        <h4>Cedric Kelly</h4>
                        <p>Network engineer</p>
                    </div>
                    <br>
                    <p>The new employee introduction gives you the opportunity to explain the new employee's job, location,
                        and start date. It alerts your employees to look for a new employee to greet and welcome. A positive
                        new employee introduction letter also shares several points of interest about the new employee.</p>
                    <a>
                        <span class="more">Read More
                            <i class="fa fa-book"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="banner">
                    <h3 class="text-center"> Goals </h3>
                </div>
                <div class="sidebar">
                    <div class="text-center">
                        <img class="img-fluid img-radius" style="float:center" height="150px" width="150px" [src]="fullImagePath2">
                    </div>
                    <div class="text-center">
                        <h4>Howard Hatfield</h4>
                        <p>UX/UI designer</p>
                    </div>
                    <br>
                    <p>Most organizations see a dramatic increase in employee and business performance when they effectively
                        set individual employee goals and closely tie them to the company's overall strategy. The process
                        of setting goals should be a collaborative process between an employ ee and his or her manager.</p>
                    <a>
                        <span class="more">Read More
                            <i class="fa fa-book"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="banner">
                    <h3 class="text-center"> Empowerment </h3>
                </div>
                <div class="sidebar">
                    <div class="text-center">
                        <img class="img-fluid img-radius" style="float:center" height="150px" width="150px" [src]="fullImagePath3">
                    </div>
                    <div class="text-center">
                        <h4>Jenette Caldwell</h4>
                        <p>SEO specialist</p>
                    </div>
                    <br>
                    <p>Employee empowerment is giving employees a certain degree of autonomy and responsibility for decision-making
                        regarding their specific organizational tasks.</p>
                    <a>
                        <span class="more">Read More
                            <i class="fa fa-book"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="banner">
                    <h3 class="text-center"> Decision </h3>
                </div>
                <div class="sidebar">
                    <div class="text-center">
                        <img class="img-fluid img-radius" style="float:center" height="150px" width="150px" [src]="fullImagePath4">
                    </div>
                    <div class="text-center">
                        <h4>Jenette Caldwell</h4>
                        <p>SEO specialist</p>
                    </div>
                    <br>
                    <p>Employee empowerment is giving employees a certain degree of autonomy and responsibility for decision-making
                        regarding their specific organizational tasks.</p>
                    <a>
                        <span class="more">Read More
                            <i class="fa fa-book"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<more-app></more-app>